@utility btn {
  @apply inline-flex items-center justify-center focus:outline-none;
  gap: 0.5em;
  border-radius: 7px;
  & svg {
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    stroke-width: 2px;
  }
}

@utility btn-lg {
  padding: 1em 1.4em;
}

@utility btn-md {
  padding: 1em 1.3em;
}

@utility btn-sm {
  padding: 1em 1.2em;
}

@utility btn-primary {
  background-color: var(--color-fire);
  color: var(--color-night);
}

@utility btn-light {
  background-color: var(--color-birch);
  color: var(--color-night);
}

@utility btn-dark {
  background-color: var(--color-night);
  color: var(--color-birch);
}

.elementor-button {
  font-family: var(--font-body) !important;
  font-size: 0.875rem !important; /* 14px fixed */
  font-weight: 700 !important;
  line-height: 1.14 !important;
  letter-spacing: 0.084em !important;
  text-transform: uppercase !important;
  color: var(--color-night) !important;
}

.elementor-nav-menu--dropdown a {
  border-inline-start: 0 !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
}
.elementor-nav-menu--dropdown {
  min-width: none !important;
}
