form {
  label {
    @apply text-subtitle-md;
    margin-bottom: 0.4em;
  }
  .form-group {
    &:not(:first-child) {
      margin-block-start: 1.3em;
    }
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  textarea {
    &:focus {
      outline: none;
    }
    @apply w-full bg-birch text-body-md text-night;
    padding: 0.6em 0.8em;
    border-radius: 3px;
  }
  select {
    appearance: none; /* Disable the default arrow */
    -webkit-appearance: none; /* For WebKit-based browsers */
    -moz-appearance: none; /* For Firefox */
    padding-right: 2.5em; /* Space for the custom arrow */
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    cursor: pointer;
  }
  .acteol-form-builder-privacy-policy-text {
    @apply text-body-xs;
  }
  .btn {
    @apply !btn !btn-primary !btn-md !text-subtitle-md;
  }
}
