/* ── Headings — Cubano Sharp ──────────────────────────────────────────────── */

@layer base {
  h1, h2, h3, h4, h5, h6 {
    margin-block: 0;    
  }
}

@utility text-heading-2xl {
  font-family: var(--font-heading);
  font-size: clamp(4.0311rem, 3.2418rem + 3.508vw, 5.9605rem);
  font-weight: 400;
  line-height: 0.91;
  letter-spacing: -0.02em;
}

@utility text-heading-xl {
  font-family: var(--font-heading);
  font-size: clamp(3.3592rem, 2.7828rem + 2.5621vw, 4.7684rem);
  font-weight: 400;
  line-height: 0.94;
  letter-spacing: -0.02em;
}

@utility text-heading-lg {
  font-family: var(--font-heading);
  font-size: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);
  font-weight: 400;
  line-height: 0.92;
  letter-spacing: -0.02em;
}

@utility text-heading-md {
  font-family: var(--font-heading);
  font-size: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
  font-weight: 400;
  line-height: 0.96;
  letter-spacing: -0.02em;
}

@utility text-heading-sm {
  font-family: var(--font-heading);
  font-size: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
}

@utility text-heading-xs {
  font-family: var(--font-heading);
  font-size: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
  font-weight: 400;
  line-height: 0.9;
  letter-spacing: -0.02em;
}

/* ── Subtitles — Interstate ───────────────────────────────────────────────── */

@utility text-subtitle-xl {
  font-family: var(--font-body);
  font-size: clamp(1.25rem, 1.1989rem + 0.2273vw, 1.375rem); 
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.084em;
  text-transform: uppercase;
}

@utility text-subtitle-lg {
  font-family: var(--font-body);
  font-size: clamp(1rem, 0.9489rem + 0.2273vw, 1.125rem);
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.084em;
  text-transform: uppercase;
}

@utility text-subtitle-md {
  font-family: var(--font-body);
  font-size: clamp(0.875rem, 0.8239rem + 0.2273vw, 1rem);
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: 0.084em;
  text-transform: uppercase;
}

@utility text-subtitle-sm {
  font-family: var(--font-body);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.084em;
  text-transform: uppercase;
}

@utility text-subtitle-xs {
  font-family: var(--font-body);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.084em;
  text-transform: uppercase;
}

/* ── Body — Interstate ───────────────────────────────────────────────── */

@utility text-body-xl {
  font-family: var(--font-body);
  font-size: clamp(1.25rem, 1.1989rem + 0.2273vw, 1.375rem); // 
  font-weight: 400;
  line-height: 1.45;
}

@utility text-body-lg {
  font-family: var(--font-body);
  font-size: clamp(1rem, 0.9489rem + 0.2273vw, 1.125rem);
  font-weight: 400;
  line-height: 1.42;
}

@utility text-body-md {
  font-family: var(--font-body);
  font-size: clamp(0.875rem, 0.8239rem + 0.2273vw, 1rem);
  font-weight: 400;
  line-height: 1.4;
}

@utility text-body-sm {
  font-family: var(--font-body);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4;
}

@utility text-body-xs {
  font-family: var(--font-body);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.35;
}
h1{
  @apply text-heading-2xl;
}

h2{
  @apply text-heading-xl;
}

h3{
  @apply text-heading-lg;
}

h4{
  @apply text-heading-md;
}

h5{
  @apply text-heading-sm;
}

.freak-mce{
  h2{
    @apply text-heading-lg;
  }
  
  h3{
    @apply text-heading-md;
  }
  
  h4, h5{
    @apply text-heading-sm;
  }
  h1, h2, h3, h4, h5, h5, p, ol, ul{
    margin-block-start: 2rem;
    margin-block-end: 2rem;  
  }
  :first-child{
    margin-block-start: 0;
  }
  p{
    color: --var(--color-fire);
  }
  ul{
    list-style: disc;
    padding-left: 1.5em;
  }
  ol{
    list-style: decimal;
    padding-left: 1.5em;
  }
}
